h3{
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    padding-top: 10%;
}

.btn {
    margin-left: 40%;
    margin-right: 30%;
}

.credentials-form{
    display: block;
    margin-top: 10%;
    margin-left: 35%;
    margin-right: 35%;
}