body {
    margin: 0;
    padding: 0;
}

.container{
    display: inline-flex;
    position: absolute;
    top: 40%;
    padding-left: 20%;
    justify-content: space-around;
}

.register-btn{
    display: flex;
}

.consult-btn{
    display: flex;
}