:root {
  --color-primary: #000000;
}

html, body {
  background-color: rgb(255, 255, 255);
  background-image: url("https://drive.google.com/uc?id=15GxyxZXFdjZvzj7xFrhmJpuHGG1u_oaz");
  background-size: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a, a :hover {
  text-decoration: none;
  color: unset;
}